.after-before-section {
  padding-top: var(--section-spacing-top);
  padding-bottom: var(--section-spacing-bottom);
}

.before-after-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  width: 100%;
}

.before-after-container-inner {
  position: relative;
}

.before-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.after-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.before-image-wrapper img {
  max-height: 100%;
  max-width: none;
  object-fit: cover;
}

.divider-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 0.2rem;
  background: #fff;
  transform: translateX(-50%);
  z-index: 2;
}

.divider-handle {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 2rem rgba(0,0,0,.15);
  pointer-events: none;
}

.divider-handle span {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider-range {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: col-resize;
  z-index: 5;
}

.cms-buttons-row {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.cms-image-labels {
  position: absolute;
  z-index: 4;
  top: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  align-items: baseline;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  border-radius: 3rem;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}


.items-alternate .badge:last-child {
  margin-top: auto;
}

@media (min-width: 992px) {
  .divider-handle {
    width: 5.8rem;
    height: 5.8rem;
  }
}