.cms-text-block >:first-child,
.cms-text-desc >*:first-child {
    margin-top: 0;
    padding-top: 0;
}

.cms-text-desc >*:last-child,
.cms-text-block >:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}