.cms-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
}

.cms-row >* {
    padding: 0 1.5rem;
}

.cms-cell--small,
.cms-cell--medium,
.cms-cell--large {
    width: 100%;
}

@media (min-width: 768px) {
    .cms-cell--small {
        width: 40%;
    }

    .cms-cell--medium {
        width: 50%;
    }

    .cms-cell--large {
        width: 65%;
    }

    .cms-cell {
        width: 1%;
        flex: 1 1 auto;
    }
}

.image_media--small {
  height: 19.4rem;
}

.image_media--medium {
  height: 29.6rem;
}

.image_media--large {
  height: 43.5rem;
}

.image_media--adapt {
  height: 20rem;
}

@media screen and (min-width: 768px) {
  .image_media--small {
    height: 31.4rem;
  }

  .image_media--medium {
    height: 46rem;
  }

  .image_media--large {
    height: 69.5rem;
  }

  .image_media--adapt {
    height: 30rem;
  }
}