
localization-form h2{
  display: none;
  color: var(--tps-input-border-color);
  font-family: var(--tps-font-body-family);
}
.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  padding: var(--tps-spacing-10);
  margin: 0 auto;
}

.localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
  padding: 0;
}

.localization-form:only-child .button,
.localization-form:only-child .localization-form__select {
  /* margin: var(--tps-spacing-10) var(--tps-spacing-10) var(--tps-spacing-6); */
  margin: 0;
  flex-grow: 1;
}

@media screen and (min-width: 750px) {
  .localization-form {
    padding: var(--tps-spacing-10) var(--tps-spacing-20) var(--tps-spacing-10) 0;
  }

  .localization-form:first-of-type {
    padding-left: 0;
  }

  .localization-form:only-child {
    justify-content: start;
    width: auto;
    /* margin: 0 1rem 0 0; */
  }
}

.localization-form .button {
  padding: var(--tps-spacing-10);
}

.localization-form__currency {
  opacity: 0;
  transition: opacity 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
  padding-right: var(--tps-spacing-16);
}

@media screen and (max-width: 749px) {
  .localization-form .button {
    word-break: break-all;
  }

  .localization-form__currency {
    opacity: 1;
  }
}

.localization-form__select {
  position: relative;
  margin-bottom: var(--tps-spacing-16);
  padding-left: var(--tps-spacing-10);
  text-align: left;
  min-height: calc(4rem + var(--tps-input-border-width) * 2);
  min-width: calc(7rem + var(--tps-input-border-width) * 2);
}

.disclosure__button.localization-form__select {
  padding: calc(2rem + var(--tps-input-border-width));
  border-radius: var(--tps-input-radius);
  border-style: var(--tps-input-border-style);
  border-width: var(--tps-input-border-width);
  border-color: var(--tps-input-border-color);
  background: var(--tps-input-background);
  color: var(--tps-input-text-color);
}

.localization-form__select .icon {
  position: absolute;
  content: '';
  right: calc(var(--tps-input-border-width) + 1.5rem);
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease;
}

.localization-selector.link {
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding-right: var(--tps-spacing-40);
  padding-bottom: var(--tps-spacing-8);
  padding-left: var(--tps-spacing-8);
}

.disclosure .localization-form__select {
  padding-top: var(--tps-spacing-8);
}

.localization-selector option {
  color: var(--tps-black);
}

.localization-selector + .disclosure__list-wrapper {
  opacity: 1;
  animation: animateLocalization var(--tps-duration-default) ease;
}

.disclosure {
  position: relative;
}

.disclosure__button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 3.2rem;
  padding: 0 var(--tps-spacing-16) 0 var(--tps-spacing-16);
  font-size: 1.2rem;
  background-color: transparent;
}

.disclosure__list-wrapper {
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--tps-input-text-color);
  overflow: hidden;
  position: absolute;
  bottom: 100%;
  transform: translateY(-1rem);
  z-index: 2;
  background-color: rgb(var(--tps-color-background));
  border-radius: var(--tps-radius-md);
  max-height: 27.5rem;
    color: var(--tps-input-text-color);
}

.disclosure__list {
  position: relative;
  overflow-y: auto;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  scroll-padding: 0.5rem 0;
  max-height: 20.5rem;
  max-width: 25.5rem;
  min-width: 12rem;
  width: max-content;
  margin-bottom: 0;
}

.country-selector__list {
  padding-bottom: 0.95rem;
  padding-top: 0;
}

.country-selector__list--with-multiple-currencies {
  width: 25.5rem;
}

.country-selector__close-button {
  display: none;
}

.country-filter {
  padding:  var(--tps-spacing-16) var(--tps-spacing-16) var(--tps-spacing-6);
  position: sticky;
  top: -0.02rem;
  background-color: rgb(var(--tps-color-background));
  z-index: 6;
  display: flex;
  align-items: center;
  gap: var(--tps-spacing-6);
}

.country-filter__input {
  min-width: 20.0rem;
  padding: var(--tps-spacing-10);
  width: 100%;
}

.country-filter__reset-button,
.country-filter__search-icon {
  right: calc(var(--tps-input-border-width));
  top: calc(50% - var(--tps-input-border-width));
}
.country-filter .field__label{
  display: none;
}
.country-filter__reset-button:not(:focus-visible)::after,
.country-filter__reset-button:not(:focus)::after {
  display: block;
  height: calc(100% - 1.8rem);
  content: '';
  position: absolute;
  right: 0;
}

.country-filter__reset-button:focus,
.country-filter__reset-button:focus-visible {
  background-color: rgb(var(--tps-color-background));
  z-index: 4;
}

.country-filter__reset-button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.country-filter__reset-button:hover .icon {
  transform: scale(1.07);
}

.country-filter__reset-button .icon.icon-close,
.country-filter__search-icon .icon {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

.country-filter__search-icon {
  transition: opacity var(--tps-duration-short) ease, visibility var(--tps-duration-short) ease;
  opacity: 1;
  visibility: visible;
  pointer-events: none;
  cursor: text;
}

.country-filter__search-icon--hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 749px) {
  .disclosure__list-wrapper.country-selector:not([hidden]) + .country-selector__overlay:empty {
    display: block;
  }

  .country-selector__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 3;
    animation: animateLocalization var(--tps-duration-default) ease;
    display: none;
  }

  .disclosure__list-wrapper.country-selector {
    position: fixed;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 80%;
    max-height: 50vh;
    border-radius: 0;
    border: none;
    box-shadow: none;
    z-index: 4;
  }

  .disclosure__list.country-selector__list {
    max-height: 85%;
    min-width: 100%;
    margin-bottom: 0;
    z-index: 5;
  }

  .country-selector__close-button.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    background-color: transparent;
    height: 3.4rem;
    width: 3.4rem;
    border: 0;
    cursor: pointer;
  }

  .country-selector__close-button .icon {
    width: 2rem;
    height: 2rem;
  }

  .country-filter {
    padding: var(--tps-spacing-16) var(--tps-spacing-20) var(--tps-spacing-6) var(--tps-spacing-16);
  }
}

@media screen and (min-width: 750px) {
  .country-filter--no-padding {
    padding: 0;
  }
}

.countries {
  padding-top: var(--tps-spacing-6);
}

.popular-countries {
  border-bottom: 0.1rem solid rgba(var(--tps-color-foreground), 0.2);
  padding-bottom: var(--tps-spacing-6);
  padding-top: var(--tps-spacing-6);
}

.disclosure__item {
  position: relative;
  list-style: none;
}

.disclosure__link {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: var(--tps-spacing-6);
  padding: var(--tps-spacing-10) var(--tps-spacing-16);
  text-decoration: none;
  line-height: calc(1 + 0.8 / var(--tps-font-body-scale));
  color: rgba(var(--tps-color-foreground), 0.75);
  word-break: break-word;
}

.disclosure__link:hover {
  color: rgb(var(--tps-color-foreground));
}

.disclosure__link .icon-checkmark {
  width: 1rem;
  margin-right: 0.2rem;
}

.disclosure__link:hover .localization-form__currency,
.disclosure__link:focus-visible .localization-form__currency,
.disclosure__link:focus .localization-form__currency {
  display: inline-block;
  opacity: 1;
}

.disclosure__button[aria-expanded='true'] .icon {
  transform: translateY(-50%) rotate(180deg);
}

/* Header localization */
.header-localization .localization-form:only-child {
  margin: 0;
  padding: 0;
}

.header-localization .disclosure .localization-form__select {
  min-height: initial;
}

.header-localization .localization-form__select.link:after,
.header-localization .localization-form__select.link:before {
  box-shadow: none;
}

.header-localization .localization-form__select.link:focus-visible {
  outline: 0.2rem solid rgba(var(--tps-color-foreground), 0.5);
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgba(var(--tps-color-foreground), 0.3);
}

/* Header icons (desktop) */
.desktop-localization-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.desktop-localization-wrapper .localization-selector + .disclosure__list-wrapper {
  animation: animateMenuOpen var(--tps-duration-default) ease;
}

.desktop-localization-wrapper .localization-form:only-child {
  padding: 0;
}

.header-localization:not(.menu-drawer__localization) {
  align-items: center;
}

.js .header-localization:not(.menu-drawer__localization) .localization-form__select {
  padding: 0 2.7rem 0 1.2rem;
  width: max-content;
  height: 3.8rem;
}

.header-localization:not(.menu-drawer__localization) .localization-form:only-child .localization-form__select {
  margin: 0;
}

.header-localization:not(.menu-drawer__localization).localization-form__select > span {
  max-width: 20ch;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-localization:not(.menu-drawer__localization) localization-form:only-child .localization-form__select > span {
  max-width: 26ch;
}

.header-localization:not(.menu-drawer__localization) .localization-form__select .icon {
  right: 0.8rem;
}

.header-localization:not(.menu-drawer__localization) .disclosure__list-wrapper {
  bottom: initial;
  top: 100%;
  right: 0;
  transform: translateY(0);
}

/* Menu drawer */
@media screen and (min-width: 990px) {
  .menu-drawer__localization {
    display: none;
  }
}

.menu-drawer__localization localization-form {
  display: block;
}

.menu-drawer__localization .localization-form__select {
  background-color: initial;
  margin-top: 0;
  padding: var(--tps-spacing-10) var(--tps-spacing-32) var(--tps-spacing-10) 0rem;
}

.menu-drawer__localization .localization-form {
  padding: 0;
}

.menu-drawer__localization .localization-form:only-child .localization-form__select {
  margin: 0;
}

.menu-drawer__localization + .list-social {
  margin-top: var(--tps-spacing-10);
}

.language-selector .disclosure__list {
  min-width: 20.0rem;
}
