.pagination-wrapper {
  margin-top: var(--tps-spacing-20);
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.pagination__list > li {
  flex: 1 0 3rem;
  max-width: 3rem;
  list-style: none;
  margin-right: 5px;
}



.pagination__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.pagination__item:not(.button) {
  color: rgb(var(--tps-color-button-secondary-outline));
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

@media (min-width: 768px) { 
  .pagination__list > li:not(:last-child) {
    margin-right: 1rem;
  }

  .pagination__list > li {
    flex: 1 0 4.4rem;
    max-width: 4.4rem;
  }
  .pagination__item {
    height: 4.4rem;
  }
}