.countdown-timer {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
}

.countdown-number {
    font-weight: 600;
}

.countdown-timer .sub-heading {
    font-style: italic;
}

.countdown-timer >* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-separator {
    margin-bottom: auto;
}