.cms-faq-content {
    display: flex;
    flex-direction: column;
    gap: var(--grid-spacing);
}

.cms-faq-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cms-faq-question {
    width:100%;
    display:flex;
    gap: var(--spacing-12);
    text-align: start;
    justify-content:space-between;
    cursor:pointer;
    --button-background: inherit;
    --button-text: inherit;
    border: 0;
    border-radius: 0;
}

.cms-faq-question >:first-child {
    margin: 0;
}

.cms-faq-question .cms-faq-icon {
    flex-shrink: 0;
    display: block;
    width: 2rem;
    height: 2rem;
}

.cms-faq-answer {
  max-height:0;
  overflow:hidden;
  transition:max-height .4s ease;
}

.cms-faq-item.active .cms-faq-answer {
  max-height: 500px;
}

.cms-faq-answer-inner {
    padding: var(--spacing-16) var(--spacing-20);
}

.cms-faq-answer-inner >:first-child {
    margin-top: 0;
}

.cms-faq-answer-inner >:last-child {
    margin-bottom: 0;
}

.cms-faq-icon {
  transition: 0.3s ease;
}

.cms-faq-item.active .cms-faq-icon {
  transform:rotate(180deg);
}