.cms-hot-spot-row {
    position: relative;
    overflow: hidden;
    display: flex;
}

.cms-hot-spot__media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cms-hot-spot__media >* {
    height: auto;
}

.cms-hot-spot__content {
    position: relative;
    z-index: 4;
    height: 100%;
}

.cms-hot-spot-items {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

.cms-hot-spot-cell {
    pointer-events: all;
    top: var(--tps-button-position-vertical-mobile);
    left: var(--tps-button-position-horizontal-mobile);
}

.cms-hot-spot-cell .button {
    border-radius: var(--tps-radius-full);
    padding: 0;
    width: 4.4rem;
    height: 4.4rem;
    transition: all 0.25s ease;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.cms-hot-spot-button {
    position: relative;
}

.cms-hot-spot-body {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    pointer-events: none;
    border-radius: var(--tps-media-radius);
    background-color: var(--tps-hot-spot-bg);
    padding: var(--tps-spacing-16);
    margin: var(--tps-spacing-10);
    min-width: 25rem;
}

.cms-hot-spot-body >* {
    color: var(--tps-hot-spot-heading-color);
}

.cms-hot-spot-cell.active .cms-hot-spot-body {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media (min-width: 992px) {
    .cms-hot-spot-cell {
        position: absolute;
        top: var(--tps-button-position-vertical-desktop);
        left: var(--tps-button-position-horizontal-desktop);
    }
}