.custom-marquee-section {
  overflow: hidden;
  position: relative;
}

.custom-marquee-section.border-top {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.custom-marquee-section.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee-track {
  width: max-content;
  animation: marqueeScroll var(--tps-marquee-speed) linear infinite;
}

.marquee-track.reverse {
  animation-direction: reverse;
}

.pause-hover:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-item {
  padding: var(--tps-spacing-12);
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.marquee-item:hover {
    transform: translateY(-0.2rem);
}

.marquee-logo {
  height: var(--tps-logo-height);
  width: auto;
  object-fit: contain;
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .marquee-item {
    padding: var(--tps-spacing-12) var(--tps-spacing-16);
  }
}