.multicolumn__content .grid__item {
  padding: var(--spacing-20);
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--card-bg-color);
}

.multicolumn__content .icon-wrapper {
  display: block;
}

.multicolumn__content .icon-image {
  width: auto;
  max-height: 100%;
  object-fit: contain;
}