.product-tab__section {
	position: relative;
}

.product-tab__container {
	width: 100%;
}

.product-tab--full-width .product-tab__container {
	max-width: none;
	margin-inline: 0;
	padding-inline: 0;
}

.product-tab--full-width .product-tab__tabs {
	width: 100%;
}

.product-tab--full-width .product-tab__content,
.product-tab--full-width .custom-slider-wrapper,
.product-tab--full-width .product-row {
	width: 100%;
}

.cms-product-bottom {
	display: block;
	margin-top: var(--spacing-40);
}

.product-tab__tabs {
	display: flex;
	gap: var(--spacing-20);
	margin-bottom: var(--spacing-64);
	padding-bottom: var(--spacing-20);
	border-bottom: 0.1rem solid rgb(var(--color-border));
	overflow: hidden;
	overflow-x: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.product-tab__tabs::-webkit-scrollbar {
	display: none;
}

.product-tab__pane {
	display: none;
}

.product-tab__content {
	position: relative;
}

.product-tab__pane.active {
	display: block;
}

.product-row {
	display: flex;
	gap: var(--grid-spacing);
}

.js-product-slider {
	overflow: hidden;
	overflow-x: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.js-product-slider::-webkit-scrollbar {
	display: none;
}

.product-tab-slider-controls {
	position: absolute;
	top: -5.4rem;
	right: 0;
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-20);
	width: 100%;
}

.product-tab-slider-controls .button {
	padding: var(--spacing-10);
	flex-shrink: 0;
}

.product-cell {
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
	border-radius: var(--media-radius);
	overflow: hidden;
}

.product-tab__tabs .button--secondary:hover,
.product-tab__tabs .button--secondary.active {
	--button-background: rgb(var(--color-button-secondary-text));
	--button-text: rgb(var(--color-button-secondary-background));

}

@media (min-width: 576px) {
	.product-cell {
		max-width: calc((100% - var(--grid-spacing)) / 2);
		flex: 0 0 calc((100% - var(--grid-spacing)) / 2);
	}

	.product-tab__tabs {
		margin-bottom: var(--spacing-40);
	}

	.product-tab-slider-controls {
		top: -6.4rem;
		width: auto;
	}
}

@media (min-width: 768px) {
	.product-cell {
		max-width: calc((100% - (2 * var(--grid-spacing))) / 3);
		flex: 0 0 calc((100% - (2 * var(--grid-spacing))) / 3);
	}

	.product-tab__tabs {
		width: 90%;
	}
}

@media (min-width: 1200px) {
	.product-cell {
		max-width: calc((100% - (3 * var(--grid-spacing))) / 4);
		flex: 0 0 calc((100% - (3 * var(--grid-spacing))) / 4);
	}
}