.cms-comparison-table__table-wrapper {
    width: 100%;
    max-width: 80rem;
    margin: var(--tps-spacing-40) auto 0;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
}

.cms-comparison-table__table {
    width: 100%;
    min-width: 45rem;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
}

.cms-comparison-table__table tbody tr .cms-comparison-table__cell:last-child {
    border-right: 0.2rem solid rgb(var(--tps-color-border));
}
    
.cms-comparison-table__cell {
    min-height: var(--tps-spacing-48);
    padding: var(--tps-spacing-8) var(--tps-spacing-6);
    width: 25%;
    border: 0.2rem solid rgb(var(--tps-color-border));
    font-size: var(--tps-icon-sm);
    border-top: 0;
    border-right: 0;
}

.cms-comparison-table__head .cms-comparison-table__cell {
    padding: var(--tps-spacing-12);
    border-top: 0.2rem solid rgb(var(--tps-color-border));
}

.cms-comparison-table__head .cms-comparison-table__cell:first-child {
    border: 0;
    padding: 0;
    border-bottom: 0.2rem solid rgb(var(--tps-color-border));
}

.cms-comparison-table__head .cms-comparison-table__cell:nth-child(2) {
    border-top-left-radius: var(--tps-radius-md);
}

.cms-comparison-table__head .cms-comparison-table__cell:last-child {
    border-right: 0.2rem solid rgb(var(--tps-color-border));
    border-top-right-radius: var(--tps-radius-md);
}

.cms-comparison-table__cell .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 auto;
}